@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.image-shape {
  clip-path: path("M0 4.00001C0 1.79087 1.79086 0 4 0H420C422.209 0 424 1.79086 424 4V464.731H196.116C183.015 464.731 171.011 457.415 165.008 445.77L147.549 411.909C134.616 386.826 98.8396 386.577 85.5584 411.477L67.0362 446.203C60.9532 457.607 49.08 464.731 36.1545 464.731H0V4.00001Z");
}

.status {
  clip-path: path("M112.947 8.00336L6.85383 113.652C5.99761 114.504 4.79645 114.924 3.59513 114.794C1.55795 114.573 0.00683969 112.847 0.0158421 110.798L0.482597 4.55706C0.492236 2.36313 2.26727 0.586411 4.46118 0.574686L109.521 0.0132488C111.04 0.00513254 112.432 0.857852 113.115 2.2144L113.697 3.37021C114.474 4.91444 114.172 6.7834 112.947 8.00336Z");
}

.heading {
  color: #2B2B2B;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.subHeading {
  color: #E67529;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.para1 {
  color: #534C4C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.para2 {
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.service-heading {
  color: #2B2B2B;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.service-description {
  color: #2B2B2B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.bmi-description {
  color: #534C4C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: lowercase;
}

.button {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.25rem;
  background-color: #E67529;
  font-size: 18px;
  transition: transform 0.3s;
  font-weight: 500;
  color: white;
  padding: 1rem 2rem;
}

.product-button {
  border-radius: 0.25rem;
  background-color: white;
  font-size: 16px;
  transition: transform 0.3s;
  font-weight: 500;
  color: #2B2B2B;
  border: 0.5px solid #D9D9D9;
}

.product-button:hover {
  background-color: #E67529;
  transform: scale(1.05);
  color: white;
  border: none;
}

.button:hover {
  transform: scale(1.05);
}

.share-button {
  color: #2B2B2B;
  height: 40px;
  width: 40px;
  transition: transform 0.3s;
  border-radius: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  fill: #FFF;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.10));
}

.share-button:hover {
  transform: scale(1.05);
  color: white;
  background-color: #E67529;
}

.input-label {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.input-placeholder {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 12px;
}

.ant-pagination {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: auto;
  color: #FFFFFF;
}

.ant-pagination .ant-pagination-item {
  border: 1px solid #D9D9D9;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #E67529;
  color: #FFFFFF;
  border: none;
}

.ant-pagination .ant-pagination-item-active a {
  color: #FFFFFF;
}

.ant-pagination .ant-pagination-item-active a:hover {
  color: #FFFFFF;
}

.text1 {
  color: #2B2B2B;
}

.text-secondary {
  color: #534C4C;
}

.shop-style {
  color: #2B2B2BCC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  text-align: justify;
}

.shop-heading {
  color: #2B2B2B;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.product-description {
  color: #534C4C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.process-button {
  margin-top: 3rem;
  width: 100%;
  transition: transform 0.3s;
  background-color: white;
  color: black;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 1px solid #D9D9D9;
}
.process-button:hover{
  transform: scale(1.05);
  color: white;
  background-color: #E67529;
  border: none;
}
.card-button {
  padding: 16px 32px;
  transition: transform 0.3s;
  background-color: white;
  color: black;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 1px solid #D9D9D9;
}
.card-button:hover{
  transform: scale(1.05);
  color: white;
  background-color: #E67529;
  border: none;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:hover {
  border-color: #534C4C;
  box-shadow: none;
 }